.posts {
    margin: 0px 0px 0px 0px;
    line-height: 1.4;
    display: table;
    margin: 0 auto;
}


.posts a.title {
    display: block;
    line-height: 1.4;
    color: #222;
    margin-bottom: 22px;
    font-family: QuicksandBold, Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: #ccc 0px 0px 0px, #666 0px 0px 0px;
    border-bottom: 0px;
}

.posts a.title:hover {
    text-decoration: underline;
}

.posts a.title {
    margin-top: 20px !important;
}

.post .postbody {
    font-size: 70%;
    line-height: 1.2;
}

.post .postbody a {
    color: #000;
    border-bottom: 1px solid #aaa;
    text-decoration: none;
}

.post .postbody a:hover {
    color: #222;
    border-bottom: none;
}

.post .postbody p {
    margin-bottom: 22px;
}

.post .postbody ul {
    list-style: disc outside;
    padding-left: 20px;
    margin-bottom: 22px;
}

.post .postbody ol {
    list-style: decimal outside;
    padding-left: 20px;
    margin-bottom: 22px;
}

.post .postbody small {
    font-size: 11px;
    line-height: 11px !important;
}

.post .postbody blockquote {
    border-left: 1px solid #AAA;
    margin-left: 40px;
    padding-left: 12px;
    margin-bottom: 22px;
}
